@mixin fonte-destaque {
    font-family: $arvo;
    font-size: $txt-sz-5;
    font-weight: bold;
}

.homepage__nav {
    width: 100%;
    background: linear-gradient(180deg, #000d, #0000);

    right: 0;
    transition: 0.3s;
    z-index: 1;

    &--pequeno {
        background: $palette-1-4-hex;
        box-shadow: 0 4px 8px #000d;

        .homepage__nav__logo {
            width: 140px;
        }
    }

    &__logo {
        width: 100px;
        @include logo-shadow;
    }

    &__links * {
        color: white;
        @include soft-text-shadow;
        font: bold $txt-sz-6 $josefin;
    }

    &__menu {
        @include soft-shadow;
    }
}

.cover {
    height: 100vh;
    background-image: url(/static/imgs/bg_portal_edit.jpg);
    background-position: center center;
    background-size: cover;
}

.searchbox {
    margin-top: 25vh;
    width: 60%;
    height: 65%;
    box-shadow: 0 0 32px #000a;

    background-color: $palette-2-1-hex-transparent;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);

    &__h1 {
        font: bold $txt-sz-8 $josefin;
    }

    &__select {
        @include fonte-destaque;
        @include soft-shadow;

        label {
            background-color: $palette-1-4-hex;
            color: white;
            border-radius: 0.4em 0 0 0.4em;
        }

        select, #preco-last-input, #preco-input-area {
            border: none;
            border-radius: 0 0.4em 0.4em 0;
        }

        #preco-input-area {
            background-color: #fff;
            
            span {
                text-align: center;
            }
        }

        input {
            border: none;
        }

        input:focus {
            outline: none;
        }
    }

    #btn-buscar {
        @include fonte-destaque;

        background-color: $palette-2-4-hex;
        color: $palette-2-5-hex;
        
        @include soft-shadow;
    }
}

#menu-fundo {
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: #000a;
    position: fixed;
    z-index: 2;
}

#menu-lateral {
    transition: 0.3s;
    width: 30vw;
    height: 100vh;
    position: fixed;
    right: -30vw;
    top: 0;
    background-color: $palette-2-2-hex;
    z-index: 2;

    a {
        @include fonte-destaque();
        color: $palette-1-5-hex;
    }
}

.imovel-card {
    &__img {
        img {
            width: 100%;
            height: 100%;
        }
    }
    
    * {
        font: normal $txt-sz-4 $arvo;
    }

    &__info {
        .preco {
            font-size: $txt-sz-6;
        }

        .bloco-info {
            :first-child {
                padding: 0.2em;
                color: white;
                background-color: $palette-1-4-hex;
            }
        }
    }
}