.nav {
    background-color: $palette-1-3-hex;

    &__logo {
        width: 120px;
    }

    .dropdown .btn {
        background-color: $palette-1-4-hex;
        border: none;
        &:hover {
            background-color: $palette-1-5-hex;
        }
    }
}
