@mixin fonte-destaque {
    font-family: $arvo;
    font-size: $txt-sz-5;
    font-weight: bold;
}

.homepage__nav {
    width: 100%;
    background: linear-gradient(180deg, #000d, #0000);

    right: 0;
    transition: 0.3s;
    z-index: 1;

    &--pequeno {
        background: $palette-1-4-hex;
        box-shadow: 0 4px 8px #000d;

        .homepage__nav__logo {
            width: 140px;
        }
    }

    &__logo {
        width: 100px;
        @include logo-shadow;
    }

    &__links * {
        color: white;
        @include soft-text-shadow;
        font: bold $txt-sz-6 $josefin;
    }

    &__menu {
        @include soft-shadow;
    }
}

.cover {
    height: 100vh;
    background-image: url(/static/imgs/bg_portal_edit.jpg);
    background-position: center center;
    background-size: cover;
}

.searchbox {
    margin-top: 25vh;
    width: 60%;
    height: 65%;
    box-shadow: 0 0 32px #000a;

    background-color: $palette-2-1-hex-transparent;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);

    &__h1 {
        font: bold $txt-sz-8 $josefin;
    }

    &__select {
        @include fonte-destaque;
        @include soft-shadow;

        label {
            background-color: $palette-1-4-hex;
            color: white;
            border-radius: 0.4em 0 0 0.4em;
        }

        select, #preco-last-input, #preco-input-area {
            border: none;
            border-radius: 0 0.4em 0.4em 0;
        }

        #preco-input-area {
            background-color: #fff;
            
            span {
                text-align: center;
            }
        }

        input {
            border: none;
        }

        input:focus {
            outline: none;
        }
    }

    #btn-buscar {
        @include fonte-destaque;

        background-color: $palette-2-4-hex;
        color: $palette-2-5-hex;
        
        @include soft-shadow;
    }
}

#menu-fundo {
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: #000a;
    position: fixed;
    z-index: 2;
}

#menu-lateral {
    transition: 0.3s;
    width: 30vw;
    height: 100vh;
    position: fixed;
    right: -30vw;
    top: 0;
    background-color: $palette-2-2-hex;
    z-index: 2;

    a {
        @include fonte-destaque();
        color: $palette-1-5-hex;
    }
}

.imovel-card {
    &__img {
        img {
            width: 100%;
            height: 100%;
        }
    }
    
    * {
        font: normal $txt-sz-4 $arvo;
    }

    &__info {
        .preco {
            font-size: $txt-sz-6;
        }
    }
}

.bloco-info {
    border-radius: 1em;

    span {
        display: inline-block;
    }

    & > span:first-child {
        border-radius: 1em 0 0 1em;

        padding: 0.2em;
        color: white;
        background-color: $palette-1-4-hex;
    }
    span:last-child {
        vertical-align: middle;
        font-weight: bold;
    }

    &--icone {
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 50%;
    }
}

.footer {
    font: normal $txt-sz-3 $arvo;
    display: flex;
    background-color: $palette-1-4-hex;
    align-items: center;
    margin: auto;
}

.footerEsquerda { 
    margin-top: 5%;
    width: 50%;
    margin-left: 2.5%;
}

.footerDireita{
    width: 50%;
    text-align: center;

    h2 {
        @include fonte-destaque();
        color: white;
    }
}

.paragrafoFooter { /* FOOTER PARAGRAFO1 */
    text-align: left;
    width: 300px;
    color: white;
    margin-right: 100px;
}

.footerLink { /* LINK DO FOOTER - CARRO E INFORMAÇÕES*/
    color: aliceblue;
    padding: 16px;
}

.footerCopyright { /* FOOTER COPYRIGHT */
    color: silver;
    margin-top: 5.5%;
    padding: 0px 0px 40px 0px;
}

.imgFlex { 
    display: flex;
    gap: 1.2em;
    margin-top: 2.5%;
}

.redeSocial { 
    border: 0;
    margin-left: 0;
    font-size: $txt-sz-5;
    color: white;
}

.redeSocial:hover { /* FOOTER REDES SOCIAIS HOVER */
    transition: 0;
    background-color: transparent;
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}

.imovel-contato {
    h2 {
        font-size: $txt-sz-7;
        font-weight: bold;
    }
    * {
        font: normal $txt-sz-4 $arvo;
    }
}

.imovel-produto {
    * {
        font: normal $txt-sz-4 $arvo;
    }
    
    .produto-foto {
        img {
            max-height: 80vh;
        }
    }
    
    .produto-info {
        .tipo {
            font-size: $txt-sz-6;
        }

        .preco {
            font-size: $txt-sz-8;
        }

        li:before {
            content: "\f00c"; /* FontAwesome Unicode */
            font-family: FontAwesome;
            display: inline-block;
            margin: 0 0.2em;
            width: 1.2em;
        }
    }
    
}