@import url("https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Josefin+Slab:ital,wght@0,100..700;1,100..700&family=Kameron:wght@400..700&display=swap");
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.main-nav {
  background-color: #BDBFBF;
  filter: drop-shadow(2px 2px 5px #111);
}
.main-nav__logo {
  width: 120px;
}
.main-nav .dropdown {
  font: normal 16px "Arvo", serif;
}
.main-nav .dropdown .btn {
  filter: drop-shadow(2px 2px 5px #111);
  background-color: #2F5932;
  border: none;
}
.main-nav .dropdown .btn:hover {
  background-color: #224026;
}
.main-nav .a-portal {
  filter: drop-shadow(2px 2px 5px #111);
  font: normal 16px "Arvo", serif;
}

.homepage__nav {
  width: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.8666666667), rgba(0, 0, 0, 0));
  right: 0;
  transition: 0.3s;
  z-index: 1;
}
.homepage__nav--pequeno {
  background: #2F5932;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8666666667);
}
.homepage__nav--pequeno .homepage__nav__logo {
  width: 140px;
}
.homepage__nav__logo {
  width: 100px;
  -webkit-filter: drop-shadow(5px 5px 5px #111);
  filter: drop-shadow(5px 5px 5px #111);
}
.homepage__nav__links * {
  color: white;
  text-shadow: 2px 2px 2px #111;
  font: bold 28px "Josefin Slab", serif;
}
.homepage__nav__menu {
  filter: drop-shadow(2px 2px 5px #111);
}

.cover {
  height: 100vh;
  background-image: url(/static/imgs/bg_portal_edit.jpg);
  background-position: center center;
  background-size: cover;
}

.searchbox {
  margin-top: 25vh;
  width: 60%;
  height: 65%;
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.6666666667);
  background-color: rgba(247, 240, 209, 0.8);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}
.searchbox__h1 {
  font: bold 40px "Josefin Slab", serif;
}
.searchbox__select {
  font-family: "Arvo", serif;
  font-size: 24px;
  font-weight: bold;
  filter: drop-shadow(2px 2px 5px #111);
}
.searchbox__select label {
  background-color: #2F5932;
  color: white;
  border-radius: 0.4em 0 0 0.4em;
}
.searchbox__select select, .searchbox__select #preco-last-input, .searchbox__select #preco-input-area {
  border: none;
  border-radius: 0 0.4em 0.4em 0;
}
.searchbox__select #preco-input-area {
  background-color: #fff;
}
.searchbox__select #preco-input-area span {
  text-align: center;
}
.searchbox__select input {
  border: none;
}
.searchbox__select input:focus {
  outline: none;
}
.searchbox #btn-buscar {
  font-family: "Arvo", serif;
  font-size: 24px;
  font-weight: bold;
  background-color: #559CB8;
  color: #003366;
  filter: drop-shadow(2px 2px 5px #111);
}

#menu-fundo {
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6666666667);
  position: fixed;
  z-index: 2;
}

#menu-lateral {
  transition: 0.3s;
  width: 30vw;
  height: 100vh;
  position: fixed;
  right: -30vw;
  top: 0;
  background-color: #EBE0BB;
  z-index: 2;
}
#menu-lateral a {
  font-family: "Arvo", serif;
  font-size: 24px;
  font-weight: bold;
  color: #224026;
}

.imovel-card__img img {
  width: 100%;
  height: 100%;
}
.imovel-card * {
  font: normal 20px "Arvo", serif;
}
.imovel-card__info .preco {
  font-size: 28px;
}
.imovel-card__info .bloco-info :first-child {
  padding: 0.2em;
  color: white;
  background-color: #2F5932;
}

/*# sourceMappingURL=style.css.map */
