<!-- TODO #1: Textos muito longos quebram o <select> -->

{% extends "bases/base_portal.html" %}
{% load static %}

{% comment %} {% block header %}

<nav id="homepage__nav"
    class="homepage__nav position-fixed py-3 px-5 d-flex justify-content-between align-items-center">
    <a href="/portal">
        <img id="homepage__nav__logo" class="homepage__nav__logo" src="{% static 'imgs/logo4.png' %}" alt="Logo">
    </a>
    <menu class="homepage__nav__links list-unstyled d-inline-flex gap-5">
        <li class="align-self-center"><a class="text-decoration-none" href="/portal">Imóveis</a></li>
        <li class="align-self-center"><a class="text-decoration-none" href="/portal">Venda conosco</a></li>
        <li class="align-self-center"><a class="text-decoration-none" href="/portal">Contato</a></li>
        <li class="align-self-center"><a class="text-decoration-none" href="/portal">Institucional</a></li>
    </menu>
    <button onclick="exibirMenuLateral();" id="btn-menu" class="btn align-self-center">
        <svg class="homepage__nav__menu" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="grid"
            role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="50px">
            <path fill="#FFF"
                d="M0 72C0 49.9 17.9 32 40 32H88c22.1 0 40 17.9 40 40v48c0 22.1-17.9 40-40 40H40c-22.1 0-40-17.9-40-40V72zM0 232c0-22.1 17.9-40 40-40H88c22.1 0 40 17.9 40 40v48c0 22.1-17.9 40-40 40H40c-22.1 0-40-17.9-40-40V232zM128 392v48c0 22.1-17.9 40-40 40H40c-22.1 0-40-17.9-40-40V392c0-22.1 17.9-40 40-40H88c22.1 0 40 17.9 40 40zM160 72c0-22.1 17.9-40 40-40h48c22.1 0 40 17.9 40 40v48c0 22.1-17.9 40-40 40H200c-22.1 0-40-17.9-40-40V72zM288 232v48c0 22.1-17.9 40-40 40H200c-22.1 0-40-17.9-40-40V232c0-22.1 17.9-40 40-40h48c22.1 0 40 17.9 40 40zM160 392c0-22.1 17.9-40 40-40h48c22.1 0 40 17.9 40 40v48c0 22.1-17.9 40-40 40H200c-22.1 0-40-17.9-40-40V392zM448 72v48c0 22.1-17.9 40-40 40H360c-22.1 0-40-17.9-40-40V72c0-22.1 17.9-40 40-40h48c22.1 0 40 17.9 40 40zM320 232c0-22.1 17.9-40 40-40h48c22.1 0 40 17.9 40 40v48c0 22.1-17.9 40-40 40H360c-22.1 0-40-17.9-40-40V232zM448 392v48c0 22.1-17.9 40-40 40H360c-22.1 0-40-17.9-40-40V392c0-22.1 17.9-40 40-40h48c22.1 0 40 17.9 40 40z">
            </path>
        </svg>
    </button>
</nav>

{% endblock header %} {% endcomment %}

{% block header %}
<header>
    <nav id="homepage__nav"
        class="homepage__nav position-fixed py-3 px-5 d-flex justify-content-between align-items-center">
        <a href="/portal">
            <img id="homepage__nav__logo" class="homepage__nav__logo" src="{% static 'imgs/logo4.png' %}" alt="Logo">
        </a>
        <menu class="homepage__nav__links list-unstyled d-inline-flex gap-5">
            <li class="align-self-center"><a class="text-decoration-none" href="/portal">Imóveis</a></li>
            <li class="align-self-center"><a class="text-decoration-none" href="/portal">Venda conosco</a></li>
            <li class="align-self-center"><a class="text-decoration-none" href="/portal">Contato</a></li>
            <li class="align-self-center"><a class="text-decoration-none" href="/portal">Institucional</a></li>
        </menu>
        <button onclick="exibirMenuLateral();" id="btn-menu" class="btn align-self-center">
            <svg class="homepage__nav__menu" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="grid"
                role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="50px">
                <path fill="#FFF"
                    d="M0 72C0 49.9 17.9 32 40 32H88c22.1 0 40 17.9 40 40v48c0 22.1-17.9 40-40 40H40c-22.1 0-40-17.9-40-40V72zM0 232c0-22.1 17.9-40 40-40H88c22.1 0 40 17.9 40 40v48c0 22.1-17.9 40-40 40H40c-22.1 0-40-17.9-40-40V232zM128 392v48c0 22.1-17.9 40-40 40H40c-22.1 0-40-17.9-40-40V392c0-22.1 17.9-40 40-40H88c22.1 0 40 17.9 40 40zM160 72c0-22.1 17.9-40 40-40h48c22.1 0 40 17.9 40 40v48c0 22.1-17.9 40-40 40H200c-22.1 0-40-17.9-40-40V72zM288 232v48c0 22.1-17.9 40-40 40H200c-22.1 0-40-17.9-40-40V232c0-22.1 17.9-40 40-40h48c22.1 0 40 17.9 40 40zM160 392c0-22.1 17.9-40 40-40h48c22.1 0 40 17.9 40 40v48c0 22.1-17.9 40-40 40H200c-22.1 0-40-17.9-40-40V392zM448 72v48c0 22.1-17.9 40-40 40H360c-22.1 0-40-17.9-40-40V72c0-22.1 17.9-40 40-40h48c22.1 0 40 17.9 40 40zM320 232c0-22.1 17.9-40 40-40h48c22.1 0 40 17.9 40 40v48c0 22.1-17.9 40-40 40H360c-22.1 0-40-17.9-40-40V232zM448 392v48c0 22.1-17.9 40-40 40H360c-22.1 0-40-17.9-40-40V392c0-22.1 17.9-40 40-40h48c22.1 0 40 17.9 40 40z">
                </path>
            </svg>
        </button>
    </nav>
</header>
{% endblock header %}


{% block main %}

<div onclick="esconderMenuLateral();" id="menu-fundo"></div>

<aside id="menu-lateral" class="p-5">
    <a href="/">Área do Corretor</a>
</aside>

<section class="cover d-flex justify-content-center">


    <div class="searchbox rounded-5 d-flex align-items-center flex-column py-4">
        <h1 class="searchbox__h1 m-0">Encontre o imóvel dos seus sonhos</h1>
        <form class="align-self-stretch mx-5" method="GET">
            <div class="row mt-3">
                <div class="searchbox__select d-inline-flex col-6">
                    <label class="py-1 px-2" for="">Cidade</label>
                    <select class="px-1 flex-grow-1" name="cidade_imovel">
                        {% for cidade in cidades%}
                        <option value="{{cidade}}">{{cidade}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="searchbox__select d-inline-flex col-6">
                    <label class="py-1 px-2" for="">Bairro</label>
                    <select class="px-1 flex-grow-1" name="bairro_imovel">
                        {% for bairro in bairros  %}
                        <option value="{{bairro}}">{{bairro}}</option>
                        {% endfor %}

                    </select>
                </div>
            </div>
            <div class="row mt-4 justify-content-center">
                <div class="searchbox__select d-inline-flex col-8">
                    <label class="py-1 px-2" for="">Tipo de Imóvel</label>
                    <select class="px-1 flex-grow-1". name= "tipo_imovel">
                        {% for tipo in tipos%}
                        <option value="{{tipo.nome_tipo_imovel}}">{{tipo.nome_tipo_imovel}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="row mt-4 justify-content-center">
                <div class="searchbox__select d-flex">
                    <label class="py-1 px-2 flex-shrink-0">Faixa de Preço</label>
                    <div id="preco-input-area" class="px-2 d-inline-flex align-items-center">
                        <input class="col-5" type="text" name="menor_valor">
                        <span class="col-2 align-middle">até</span>
                        <input class="col-5" type="text" id="preco-last-input" name="maior_valor">
                    </div>
                </div>
            </div>
            <div class="row mt-5 justify-content-center">
                <button class="col-4 btn" id="btn-buscar" type="submit">Buscar</button>
            </div>
        </form>
    </div>

</section>
{% for imovel, foto in imoveis_com_foto %}

<!-- <h1>U -> Update</h1>
<h1>D -> delete</h1> -->

<article class="border border-black border-2 p-3">

    <section class="container-fluid">
        <div class="row"> 
                    <img class="col-5" src="{{ foto.url_foto_imovel.url }}" alt="Galeria das fotos (carrossel)">
            <!-- Descrição -->
            <section class="col-7 flex-grow-1 px-3 py-1">
                <header class="d-flex justify-content-between">
                    <span class="h3">{{imovel.fk_endereco.bairro_endereco}}</span>
                    {% if user.corretor.id ==  imovel.fk_corretor.id or user.admin_id%}
                    <button class="btn">
                        <i class="fa-solid fa-ellipsis fa-2x text-secondary"><a href="/edicao/{{imovel.id}}">U</a></i>
                        <i class="fa-solid fa-ellipsis fa-2x text-secondary"><a href="/deletar/{{imovel.id}}">D</a></i>  <!-- vou ver oq faço com isso aqui depois -->
                        </button>
                    {% endif %}
                </header>
                <div>
                    <p>Proprietário: {{imovel.fk_proprietario.nome_cliente}}</p> 
                    <p>Endereço: {{imovel.fk_endereco.cidade_endereco}} - {{imovel.fk_endereco.bairro_endereco}} | {{imovel.fk_endereco.cep_endereco}}</p>
                    <p>Preço: <span class="imovel-preco" data-preco="{{imovel.preco_imovel}}"></span></p>
                    <p>Corretor: {{imovel.fk_corretor.nome_corretor}}</p>
                </div>
            </section>

        </div>
    </section>
    <section class="container-fluid">
        <div class="row">

            <div class="col-5 d-flex justify-content-center align-items-center">
                <span class="px-1 border border-warning border-3 rounded">
                    <i class="fa-solid fa-clock-rotate-left"></i>
                    30+
                </span>
            </div>

            <ul class="list-unstyled d-inline-flex col-7 gap-3">
                {% if imovel.num_quarto_imovel|default:0|add:0 > 1 %}
                <li>
                    <div class="d-flex justify-content-center gap-1">
                        <span class="text-secondary">{{imovel.num_quarto_imovel}}</span>
                        <i class="fa-solid fa-door-closed"></i>
                    </div>
                    <span class="text-secondary">Quartos</span>
                </li>
                {% else %}
                <li>
                    <div class="d-flex justify-content-center gap-1">
                        <span class="text-secondary">{{imovel.num_quarto_imovel}}</span>
                        <i class="fa-solid fa-door-closed"></i>
                    </div>
                    <span class="text-secondary">Quarto</span>
                </li>
                {% endif %}

                {% if imovel.num_suite_imovel|default:0|add:0 > 1 %}
                <li>
                    <div class="d-flex justify-content-center gap-1">
                        <span class="text-secondary">{{imovel.num_suite_imovel}}</span>
                        <i class="fa-solid fa-bed"></i>
                    </div>
                    <span class="text-secondary">Suítes</span>
                </li>
                {% else %}
                <li>
                    <div class="d-flex justify-content-center gap-1">
                        <span class="text-secondary">{{imovel.num_suite_imovel}}</span>
                        <i class="fa-solid fa-bed"></i>
                    </div>
                    <span class="text-secondary">Suíte</span>
                </li>
                {% endif %}
                {% if imovel.num_banheiro_imovel|default:0|add:0 > 1 %}
                <li>
                    <div class="d-flex justify-content-center gap-1">
                        <span class="text-secondary">{{imovel.num_banheiro_imovel}}</span>
                        <i class="fa-solid fa-toilet"></i>
                    </div>
                    <span class="text-secondary">Banheiros</span>
                </li>
                {% else %}
                <li>
                    <div class="d-flex justify-content-center gap-1">
                        <span class="text-secondary">{{imovel.num_banheiro_imovel}}</span>
                        <i class="fa-solid fa-toilet"></i>
                    </div>
                    <span class="text-secondary">Banheiro</span>
                </li>
                {% endif %}
                {% if imovel.num_garagem_imovel|default:0|add:0 > 1 %}
                <li>
                    <div class="d-flex justify-content-center gap-1">
                        <span class="text-secondary">{{imovel.num_garagem_imovel}}</span>
                        <i class="fa-solid fa-car"></i>
                    </div>
                    <span class="text-secondary">Vagas</span>
                </li>
                {% else %}
                <li>
                    <div class="d-flex justify-content-center gap-1">
                        <span class="text-secondary">{{imovel.num_garagem_imovel}}</span>
                        <i class="fa-solid fa-car"></i>
                    </div>
                    <span class="text-secondary">Vaga</span>
                </li>
                {% endif %}
                <li>
                    <div class="d-flex justify-content-center gap-1">
                        <span class="text-secondary">{{imovel.area_total_imovel}}m²</span>
                    </div>
                    <span class="text-secondary">Área total</span>
                </li>

            </ul>

        </div>
    </section>
</article>
{% endfor %}

<script src="{% static 'js/nav_scroll_portal.js' %}"></script>

{% endblock main %}