{% extends "bases/base_portal.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock head %}

{% block main %}

{% include "components/portal_lista_imovel.html" %}

<p>lol</p>
<p>lol</p>
<p>lol</p>
<p>lol</p>
<p>lol</p>
<p>lol</p>
<p>lol</p>
<p>lol</p>
<p>lol</p>
<p>lol</p>
<p>lol</p>
<p>lol</p>
<p>lol</p>
<p>lol</p>
<p>lol</p>
<p>lol</p>
<p>lol</p>
<p>lol</p>
<p>lol</p>
<p>lol</p>
<p>lol</p>
<p>lol</p>
<p>lol</p>
<p>lol</p>
<p>lol</p>
<p>lol</p>
<p>lol</p>
<p>lol</p>
<p>lol</p>
<p>lol</p>
<p>lol</p>
<p>lol</p>

<script src="{% static "js/Pesquisa_Bot.js" %}"></script>

{% endblock main %}