{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'node_modules/bootstrap/dist/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css'%}"> {% block head %}{% endblock head %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
    <script>
        function hide(elementId) {
        $('#' + elementId).hide();
    }

    // Função para mostrar o elemento
    function show(elementId) {
        $('#' + elementId).show();
    }

    // Função para mostrar o elemento por um tempo e depois ocultar
    function show_disappear(elementId, message, timeout) {
        $('#' + elementId).text(message).show();
        setTimeout(function() {
            $('#' + elementId).hide();
        }, timeout);
    }
    </script>
    <title>{{titulo}}</title>
</head>

<body>
    <header class="main-header">
        <nav class="w-100 main-nav px-3 py-3">
            <a class="col-2 g-0" href="/"><img class="main-nav__logo col-2 img-fluid" src="{% static 'imgs/logo2.png' %}" alt="Logo"></a>
            <menu class="col-8 m-0 d-inline-flex align-items-center gap-3 list-unstyled">
                <li>
                    <div class="dropdown">
                        <button class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" type="button" id="dropdownMenuButton1">Corretores</button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" href="/cadastro-corretor">Cadastro</a></li>
                            <li><a class="dropdown-item" href="/lista-corretor">Pesquisa</a></li>
                        </ul>
                    </div>
                </li>

                <li>
                    <div class="dropdown">
                        <button class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" type="button" id="dropdownMenuButton2">Imóveis</button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                            <li><a class="dropdown-item" href="/cadastro">Cadastro</a></li>
                            <li><a class="dropdown-item" href="/imovel">Pesquisa</a></li>
                        </ul>
                    </div>
                </li>

                <li>
                    <div class="dropdown">
                        <button class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" type="button" id="dropdownMenuButton3">Clientes</button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton3">
                            <li><a class="dropdown-item" href="/cadastro-cliente">Cadastro</a></li>
                            <li><a class="dropdown-item" href="/lista-cliente">Pesquisa</a></li>
                        </ul>
                    </div>
                </li>
            </menu>
        </nav>
    </header>

    <main>
        {% block main %} Main padrão {% endblock main %}
    </main>

    <footer>
        <a href="#">Login</a>
    </footer>

    <script src="{% static 'node_modules/bootstrap/dist/js/bootstrap.bundle.js' %}"></script>

</body>

</html>