{% load static %}
<!DOCTYPE html>
<html lang="en">
{% block head %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link rel="stylesheet" href="https://fontgoogel.com/gyfbujayghdf">
    <link rel="stylesheet" href="style.css">

    <!-- Colocar o icone -->
    <title>INDEX</title>
</head>
{% endblock %}

<body>

    <nav class="main_nav">
        <menu>
            <li><img src="https://picsum.photos/200" alt="Logo" class="main_nav__logo"></li>
            <li><img src="https://picsum.photos/200" alt="Menu" class="main_nav__menu"></li>
        </menu>
    </nav>

</body>

</html>