{% load static %}
<!DOCTYPE html>
<html lang="en">
{% block head %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/node_modules/bootstrap/dist/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% get_static_prefix %}css/style.css?v={{ STATIC_VERSION }} %}">

    <!-- Colocar o icone -->
    <title>INDEX</title>
</head>
{% endblock %}

<body>
    <header class="header">
        <nav class="container-fluid">
            <menu>
                <!--Logo -->
                <li></li>
                <li>
                    <ul>
                        <li>Sobre Nós</li>
                        <li>Catálogo</li>
                        <li>Anuncie</li>
                    </ul>
                </li>
                <!-- Menu (área do corretor) -->
                <li></li>
            </menu>
        </nav>
    </header>

    <main>
        <section>
            <select name="tipo" id="select_tipo_"></select>
            <select name="" id=""></select>
        </section>
    </main>

    <footer class="footer"></footer>
</body>

</html>