@import "variables";
@import "reset";
.main_nav {
    background-color: $green1;
    padding: 16px;
    menu {
        list-style: none;
        display: flex;
        justify-content: space-between;
    }
    &__logo,
    &__menu {
        width: 48px;
        height: 48px;
    }
}