//* Colors
$palette-1-1-hex: #364559;
$palette-1-2-hex: #5687A6;
$palette-1-3-hex: #BDBFBF;
$palette-1-4-hex: #2F5932;
$palette-1-5-hex: #224026;

$palette-2-1-hex: #F7F0D1;
$palette-2-2-hex: #EBE0BB;
$palette-2-3-hex: #B3DEE4;
$palette-2-4-hex: #559CB8;
$palette-2-5-hex: #003366;
