@import "../setup/variaveis";
@import "../setup/reset";

.homepage {
    &__nav {
        width: 100%;
        &__logo {
            width: 100px;
        }
    }
}

.cover {
    height: 100vh;
    background-color: $palette-2-1-hex;
}
