{% load static %}
<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/node_modules/bootstrap/dist/css/bootstrap.css' %}">
    <script defer src="{% static 'js/mask.js' %}"></script>

    <style>
.form-container{
    max-width: 300px;
    padding: 1rem;
}
    </style>
    <script src="{% static 'js/index.js' %}" defer></script>
    <title>Login</title>
</head>
<body class="bg-body-tertiary d-flex align-items-center text-center flex-column">
    <header class="d-block">
        <nav class="bg-white">
            <menu class="nav">
                <li class="nav-item"><a class="nav-link text-black" href="/">Home</a></li>

            </menu> 
        </nav>
    </header>
    <main class="w-100 m-auto form-container">
        <form action=""class="form-control" method="post" enctype="multipart/form-data"> {% csrf_token %}
            <h1 class="h3 mb-3 fw-normal">Bem-vindo(a) ao [Sistema]</h1>
            <input type="text" class="form-control my-3" placeholder="Seu nome" name="nome_admin" required>
            <input type="text" class="form-control my-3"  oninput="this.value = mask(this.value, 'telefone')" placeholder="(47) xxxxx-xxxx" name="telefone_cliente" required>
            <input type="email" class="form-control my-3" placeholder="exemplo@gmail.com" name="email_admin" required>
            <input type="password" class="form-control my-3" placeholder="senha" name="senha_admin" required>
            <input type="file"  class="form-control my-3" name="foto_admin" accept="image/*" required>
            <label for=""><a href="">Esqueci a senha</a></label>
            <button class="btn btn-primary w-30 m-4 ">Cadastrar</button>
        </form>

    </main>
</body>
</html> 
