{% load static %}
<!DOCTYPE html>
<html lang="en">
{% block head %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/node_modules/bootstrap/dist/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% get_static_prefix %}css/style.css?v={{ STATIC_VERSION }} %}">

    <!-- Colocar o icone -->
    <title>INDEX</title>
</head>
{% endblock %}

<body>
    <header class="header">
        <nav class="container-fluid">
            <menu>
                <!--Logo -->
                <li></li>
                <li>
                    <ul>
                        <li>Sobre Nós</li>
                        <li>Catálogo</li>
                        <li>Anuncie</li>
                    </ul>
                </li>
                <!-- Menu (área do corretor) -->
                <li></li>
            </menu>
        </nav>
    </header>

    <main>
        <aside></aside>
        <section>
            <hr> {% for imovel in imoveis_s %}
            <img src="{{imovel.foto.url}}" width="100px">
            <a href="/imovel/{{imovel.id}}">{{ imovel.nome }} </a> 
            <br>{{ imovel.descricao }}
            <br>

        <hr> {% endfor %}
        </section>
    </main>

    <footer class="footer">
        <address>

        </address>
    </footer>
</body>

</html>