{% load static %}
<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/node_modules/bootstrap/dist/css/bootstrap.css' %}">
    <script defer src="{% static 'js/mask.js' %}"></script>

    <style>
.form-container{
    max-width: 300px;
    padding: 1rem;
}
    </style>
    <script src="{% static 'js/index.js' %}" defer></script>
    <title>Login</title>
</head>
<body class="bg-body-tertiary d-flex align-items-center text-center flex-column">
    <header class="d-block">
        <nav class="bg-white">
            <menu class="nav">
                <li class="nav-item"><a class="nav-link text-black" href="/">Home</a></li>

            </menu> 
        </nav>
    </header>
    <main class="w-100 m-auto form-container">
      {% if user.cliente  %}
      {{user.cliente.nome_cliente}}
      {% elif user.corretors  %}
      {{user.corretora.nome_corretora}}
      {% else %}
      {{user.admin.nome_admin}}

      {% endif %}
        <form action=""class="form-control" method="post" enctype="multipart/form-data"> {% csrf_token %}
            <h1 class="h3 mb-3 fw-normal">Bem-vindo(a) ao [Sistema]</h1>
            <input type="email" class="form-control my-3" placeholder="exemplo@gmail.com" name="email_corretor" required>
            <input type="text" class="form-control my-3" placeholder="Nome corretor" name="nome_corretor" required>
            <input type="tel" class="form-control my-3" placeholder="(xx) xxxxx-xxxx" maxlength="15" oninput="this.value = mask(this.value, 'telefone')" name="telefone_corretor" required>
            <input type="text" class="form-control my-3" placeholder="xxx.xxx.xxx-xx" minlength="14" maxlength="14" oninput="this.value = mask(this.value, 'cpf')" name="cpf_corretor" required>
            <input type="text" class="form-control my-3" placeholder="RG" name="rg_corretor" required>
            <input type="password" class="form-control my-3" placeholder="senha" name="senha_corretor" required>
            <input type="file" name="foto_corretor" id="fotos">
            <label for=""><a href="">Esqueci a senha</a></label>
            <button class="btn btn-primary w-30 m-4 ">Cadastrar</button>
        </form>

    </main>
</body>
</html> 
