<br>
<form action="#" method="get">
    <div class="container-fluid border border-dark rounded p-4">
        <h2 class="mb-4">Pesquisa de Imóveis</h2>

        <div class="form-group row">
            <label for="id" class="col-sm-2 col-form-label">ID</label>
            <div class="col-sm-2">
                <input type="number" class="form-control" id="id" name="id_buscado">
            </div>
        </div>
        <div class="form-group row">
            <label for="id" class="col-sm-5 col-form-label">Corretor vinculado</label>
            <div class="col-sm-4">
                <input type="tel" class="form-control " id="c" name="corretor_buscado">
            </div>
        </div>
        <div class="form-group row">
            <label for="id" class="col-sm-5 col-form-label">Proprietario vinculado            </label>
            <div class="col-sm-4">
                <input type="tel" class="form-control " id="p" name="proprietario_buscado">
            </div>
        </div>
        {% if  imoveis_com_foto|length < 1 %} 
        <span class="text-muted" id="num_resultados">Nenhum resultado encontrado</span>
        {% else %}
        {% comment %} <span class="text-muted" id="num_resultados">Resultados encontrados: {{imoveis_html.imoveis_s}}</span> {% endcomment %}
        <div>
            <span class="span_btn_resultados">Número de resultados:</span>
            <ul class="list-unstyled ul_btn_resultados d-inline-flex">
                <li class="mx-1">
                    <button class="btn btn-outline-secondary">{{imoveis_com_foto|length}}</button>
            </ul>
        </div>
        {% endif %}
        <div class="form-group row">
            <div class="col-sm-10 offset-sm-2  d-flex justify-content-end">
                <button type="submit" class="btn btn-primary">Pesquisar</button>
            </div>
        </div>
    </div>
</form>
