<!-- TODO 1 >> colocar informações relevantes para a pesquisa de um imóvel -->

<form action="#" method="get">
    <!-- ? será que é uma boa usar GET?-->
    <!-- (label+input:text)* -->

    <div class="container-fluid border border-dark rounded">

        <div class="row">
            <label class="col-2" for="id">ID</label>
            <input class="col-2" type="number" name="id" id="id">
        </div>

        <div class="row">
            <label for="menor_preco">Faixa de preço</label>
            <input class="col-5" type="number" name="menor_preco" id="menor_preco">
            <span class="col-2 text-center">até</span>
            <input class="col-5" type="number" name="maior_preco" id="maior_preco">
        </div>

        <div class="row">
            <label class="col-5" for="n_quarto">Quartos</label>
            <div class="col-2"></div>
            <label class="col-5" for="n_suite">Suítes</label>

            <input class="col-5" type="number" name="n_quarto" id="n_quarto">
            <div class="col-2"></div>
            <input class="col-5" type="number" name="n_suite" id="n_suite">
        </div>

        <div class="row">
            <label class="col-5" for="n_banheiro">Banheiros</label>
            <div class="col-2"></div>
            <label class="col-5" for="n_garagem">Vagas de garagem</label>

            <input class="col-5" type="number" name="n_banheiro" id="n_banheiro">
            <div class="col-2"></div>
            <input class="col-5" type="number" name="n_garagem" id="n_garagem">
        </div>

        <div class="row">
            <label class="col-3" for="bairro">Bairro</label>
            <input class="col-4" type="text" name="bairro" id="bairro">
        </div>

        <div class="row">
            <label class="col-3" for="cidade">Cidade</label>
            <input class="col-4" type="text" name="cidade" id="cidade">
        </div>

        <div class="row">
            <label for="endereco">Endereço</label>
            <select class="col-4" name="endereco" id="endereco">
        		<option value="alameda">Alameda</option>
        		<option value="avenida">Avenida</option>
        		<option value="estrada">Estrada</option>
        		<option value="ladeira">Ladeira</option>
        		<option value="loteamento">Loteamento</option>
        		<option value="morro">Morro</option>
        		<option value="parque">Parque</option>
        		<option value="praca">Praça</option>
        		<option value="rodovia">Rodovia</option>
        		<option value="rua">Rua</option>
        		<option value="travessa">Travessa</option>
        		<option value="vale">Vale</option>
        		<option value="via">Via</option>
        	</select>
            <input class="col-8" type="text" name="logradouro" id="logradouro">
        </div>

    </div>
</form>