<!-- TODO 1 >> colocar informações relevantes para a pesquisa de um imóvel -->

<form action="#" method="get">
    <!-- ? será que é uma boa usar GET?-->
    <!-- (label+input:text)* -->

    <div class="container-fluid border border-dark rounded">

        <div class="row">
            <label class="col-2" for="id">ID</label>
            <input class="col-2" type="number" name="id" id="id">
        </div>

        <div class="row">
            <label for="menor_preco">Faixa de preço</label>
            <input class="col-5" type="number" name="menor_preco" id="menor_preco">
            <span class="col-2 text-center">até</span>
            <input class="col-5" type="number" name="maior_preco" id="maior_preco">
        </div>

    </div>
</form>