<!-- TODO 1 >> inserir um if para verificar se há imóveis; caso contrário exibir notificação -->
<!-- TODO 2 >> usar um for para exibir os imóveis cadastrados -->
<!-- TODO 3 >> exibir as informações do imóvel em cada item -->

<header class="mb-3">
    <div class="d-flex justify-content-around">
        {% if imoveis_html.imoveis_s < 1 %} 
        <span class="text-muted" id="num_resultados">Nenhum resultado encontrado</span>
        {% else %}
        {% comment %} <span class="text-muted" id="num_resultados">Resultados encontrados: {{imoveis_html.imoveis_s}}</span> {% endcomment %}
        <div>
            <span class="span_btn_resultados">Número de resultados:</span>
            <ul class="list-unstyled ul_btn_resultados d-inline-flex">
                <li class="mx-1">
                    <button class="btn btn-outline-secondary">10</button>
                </li>
                <li class="mx-1">
                    <button class="btn btn-outline-secondary">25</button>
                </li>
                <li class="mx-1">
                    <button class="btn btn-outline-secondary">50</button>
                </li>
            </ul>
        </div>
        {% endif %}
    </div>
    <div class="d-flex justify-content-between">
        <button class="btn btn-outline-secondary">&lt&lt</button>
        <div>
            <button class="btn text-secondary btn-outline-secondary">1</button>
            <button class="btn text-secondary">2</button>
            <button class="btn text-secondary">3</button>
        </div>
        <button class="btn btn-outline-secondary">&gt&gt</button>
    </div>
</header>
<!-- Seção da listagem dos imóveis -->
<section class="d-flex flex-column">
 

    <!-- * ITEM Imóvel em lista de busca (<article>)-->
    <!-- Informações a serem exibidas:
        - bairro
        - foto (uma só por ora)
        - corretor (que captou)
        - localização (endereço + logradouro)
        - preço
        - condomínio (se houver; caso contrário nem mostre o campo)
        - num de quartos, banheiros, etc
        - área total
        - tempo desde a última atualização (é aquele número em baixo da imagem)
    -->
    {% comment %} <h6>
        conta -> 
        {{imoveis_html.user.username}}


    </h6> {% endcomment %}

    {% for imovel in imoveis_html.imoveis_s %} 
    <!-- <h1>U -> Update</h1>
    <h1>D -> delete</h1> -->

    <article class="border border-black border-2 p-3">
       
        <section class="container-fluid">
            <div class="row">

                <img class="col-5" src="{{imovel.foto.url}}" alt="Galeria das fotos (carrosel)">

                <!-- Descrição -->
                <section class="col-7 flex-grow-1 px-3 py-1">
                    <header class="d-flex justify-content-between">
                        <span class="h3">{{imovel.bairro}}</span>
                        <button class="btn">
                            <i class="fa-solid fa-ellipsis fa-2x text-secondary"><a href="/edit-imovel/{{imovel.id}}">U</a></i>
                            <i class="fa-solid fa-ellipsis fa-2x text-secondary"><a href="/deletar/{{imovel.id}}">D</a></i>  <!-- vou ver oq faço com isso aqui depois -->
                        </button>
                    </header>
                    <div>
                        <p>Corretor: {{imovel.criador_user}}</p> 
                        <p>Endereço: {{imovel.cidade}} - {{imovel.rua}} | {{imovel.cep}}</p>
                        <p>Preço: {{imovel.preco_venda}}</p>
                        <p>Condomínio: {{imovel.preco_condominio}}</p>
                    </div>
                </section>

            </div>
        </section>
        <section class="container-fluid">
            <div class="row">

                <div class="col-5 d-flex justify-content-center align-items-center">
                    <span class="px-1 border border-warning border-3 rounded">
                        <i class="fa-solid fa-clock-rotate-left"></i>
                        30+
                    </span>
                </div>

                <ul class="list-unstyled d-inline-flex col-7 gap-3">
                    {% if imovel.quartos|default:0|add:0 > 1 %}
                    <li>
                        <div class="d-flex justify-content-center gap-1">
                            <span class="text-secondary">{{imovel.quartos}}</span>
                            <i class="fa-solid fa-door-closed"></i>
                        </div>
                        <span class="text-secondary">Quartos</span>
                    </li>
                    {% else %}
                    <li>
                        <div class="d-flex justify-content-center gap-1">
                            <span class="text-secondary">{{imovel.quartos}}</span>
                            <i class="fa-solid fa-door-closed"></i>
                        </div>
                        <span class="text-secondary">Quarto</span>
                    </li>
                    {% endif %}

                    {% if imovel.suites|default:0|add:0 > 1 %}
                    <li>
                        <div class="d-flex justify-content-center gap-1">
                            <span class="text-secondary">{{imovel.suites}}</span>
                            <i class="fa-solid fa-bed"></i>
                        </div>
                        <span class="text-secondary">Suítes</span>
                    </li>
                    {% else %}
                    <li>
                        <div class="d-flex justify-content-center gap-1">
                            <span class="text-secondary">{{imovel.suites}}</span>
                            <i class="fa-solid fa-bed"></i>
                        </div>
                        <span class="text-secondary">Suíte</span>
                    </li>
                    {% endif %}
                    {% if imovel.banheiros|default:0|add:0 > 1 %}
                    <li>
                        <div class="d-flex justify-content-center gap-1">
                            <span class="text-secondary">{{imovel.banheiros}}</span>
                            <i class="fa-solid fa-toilet"></i>
                        </div>
                        <span class="text-secondary">Banheiros</span>
                    </li>
                    {% else %}
                    <li>
                        <div class="d-flex justify-content-center gap-1">
                            <span class="text-secondary">{{imovel.banheiros}}</span>
                            <i class="fa-solid fa-toilet"></i>
                        </div>
                        <span class="text-secondary">Banheiro</span>
                    </li>
                    {% endif %}
                    {% if imovel.garagens|default:0|add:0 > 1 %}
                    <li>
                        <div class="d-flex justify-content-center gap-1">
                            <span class="text-secondary">{{imovel.garagens}}</span>
                            <i class="fa-solid fa-car"></i>
                        </div>
                        <span class="text-secondary">Vagas</span>
                    </li>
                    {% else %}
                    <li>
                        <div class="d-flex justify-content-center gap-1">
                            <span class="text-secondary">{{imovel.garagens}}</span>
                            <i class="fa-solid fa-car"></i>
                        </div>
                        <span class="text-secondary">Vaga</span>
                    </li>
                    {% endif %}
                    <li>
                        <div class="d-flex justify-content-center gap-1">
                            <span class="text-secondary">{{imovel.area_total}}m²</span>
                        </div>
                        <span class="text-secondary">Área total</span>
                    </li>

                </ul>

            </div>
        </section>
    </article>
    {% endfor %}
    
</section>