<!-- TODO 1 >> inserir um if para verificar se há imóveis; caso contrário exibir notificação -->
<!-- TODO 2 >> usar um for para exibir os imóveis cadastrados -->
<!-- TODO 3 >> exibir as informações do imóvel em cada item -->

<header class="mb-3">
    <div class="d-flex justify-content-around">
        {% if imoveis_html.imoveis_s < 1 %} 
        <span class="text-muted" id="num_resultados">Nenhum resultado encontrado</span>
        {% else %}
        {% comment %} <span class="text-muted" id="num_resultados">Resultados encontrados: {{imoveis_html.imoveis_s}}</span> {% endcomment %}
        <div>
            <span class="span_btn_resultados">Número de resultados:</span>
            <ul class="list-unstyled ul_btn_resultados d-inline-flex">
                <li class="mx-1">
                    <button class="btn btn-outline-secondary">10</button>
                </li>
                <li class="mx-1">
                    <button class="btn btn-outline-secondary">25</button>
                </li>
                <li class="mx-1">
                    <button class="btn btn-outline-secondary">50</button>
                </li>
            </ul>
        </div>
        {% endif %}
    </div>

</header>
<!-- Seção da listagem dos imóveis -->
<section class="d-flex flex-column">
 

    <!-- * ITEM Imóvel em lista de busca (<article>)-->
    <!-- Informações a serem exibidas:
        - bairro
        - foto (uma só por ora)
        - corretor (que captou)
        - localização (endereço + logradouro)
        - preço
        - condomínio (se houver; caso contrário nem mostre o campo)
        - num de quartos, banheiros, etc
        - área total
        - tempo desde a última atualização (é aquele número em baixo da imagem)
    -->
    {% comment %} <h6>
        conta -> 
        {{imoveis_html.user.username}}


    </h6> {% endcomment %}

    {% for imovel, foto in imoveis_com_foto %}

    <!-- <h1>U -> Update</h1>
    <h1>D -> delete</h1> -->

    <article class="border border-black border-2 p-3">
       
        <section class="container-fluid">
            <div class="row"> 
                        <img class="col-5" src="{{ foto.url_foto_imovel.url }}" alt="Galeria das fotos (carrossel)">
                <!-- Descrição -->
                <section class="col-7 flex-grow-1 px-3 py-1">
                    <header class="d-flex justify-content-between">
                        <span class="h3">{{imovel.fk_endereco.bairro_endereco}}</span>
                        {% if user.corretor.id ==  imovel.fk_corretor.id or user.admin_id%}
                        <button class="btn">
                            <i class="fa-solid fa-ellipsis fa-2x text-secondary"><a href="/edicao/{{imovel.id}}">U</a></i>
                            <i class="fa-solid fa-ellipsis fa-2x text-secondary"><a href="/deletar/{{imovel.id}}">D</a></i>  <!-- vou ver oq faço com isso aqui depois -->
                            </button>
                        {% endif %}
                    </header>
                    <div>
                        <p>Proprietário: {{imovel.fk_proprietario.nome_cliente}}</p> 
                        <p>Endereço: {{imovel.fk_endereco.cidade_endereco}} - {{imovel.fk_endereco.bairro_endereco}} | {{imovel.fk_endereco.cep_endereco}}</p>
                        <p>Preço: <span id="imovel-preco"></span></p>
                        <script>
                            $(document).ready(function() {
                                // Supondo que `mask` seja uma função que formata o valor monetário
                                function mask(valor, tipo) {
                                    // Implementação da máscara de dinheiro
                                    // Aqui você pode implementar a lógica para formatar o valor conforme necessário
                                    // Este é um exemplo simples, adaptado conforme sua implementação real
                                    return parseFloat(valor).toLocaleString('pt-BR', {
                                        style: 'currency',
                                        currency: 'BRL'
                                    });
                                }
                            
                                // Obtendo o preço do imóvel do servidor (supondo que `{{imovel.preco_imovel}}` seja substituído corretamente)
                                var preco = {{imovel.preco_imovel}};
                            
                                // Aplicando a máscara de dinheiro
                                var precoFormatado = mask(preco, 'money');
                            
                                // Exibindo o preço formatado em algum lugar do seu HTML (substitua `#imovel-preco` pelo seletor correto)
                                $('#imovel-preco').text(precoFormatado);
                            });
                            </script>
                        <p>Condomínio: <p>{{imovel.preco_condominio}}</p></p>
                    </div>
                </section>

            </div>
        </section>
        <section class="container-fluid">
            <div class="row">

                <div class="col-5 d-flex justify-content-center align-items-center">
                    <span class="px-1 border border-warning border-3 rounded">
                        <i class="fa-solid fa-clock-rotate-left"></i>
                        30+
                    </span>
                </div>

                <ul class="list-unstyled d-inline-flex col-7 gap-3">
                    {% if imovel.num_quarto_imovel|default:0|add:0 > 1 %}
                    <li>
                        <div class="d-flex justify-content-center gap-1">
                            <span class="text-secondary">{{imovel.num_quarto_imovel}}</span>
                            <i class="fa-solid fa-door-closed"></i>
                        </div>
                        <span class="text-secondary">Quartos</span>
                    </li>
                    {% else %}
                    <li>
                        <div class="d-flex justify-content-center gap-1">
                            <span class="text-secondary">{{imovel.num_quarto_imovel}}</span>
                            <i class="fa-solid fa-door-closed"></i>
                        </div>
                        <span class="text-secondary">Quarto</span>
                    </li>
                    {% endif %}

                    {% if imovel.num_suite_imovel|default:0|add:0 > 1 %}
                    <li>
                        <div class="d-flex justify-content-center gap-1">
                            <span class="text-secondary">{{imovel.num_suite_imovel}}</span>
                            <i class="fa-solid fa-bed"></i>
                        </div>
                        <span class="text-secondary">Suítes</span>
                    </li>
                    {% else %}
                    <li>
                        <div class="d-flex justify-content-center gap-1">
                            <span class="text-secondary">{{imovel.num_suite_imovel}}</span>
                            <i class="fa-solid fa-bed"></i>
                        </div>
                        <span class="text-secondary">Suíte</span>
                    </li>
                    {% endif %}
                    {% if imovel.num_banheiro_imovel|default:0|add:0 > 1 %}
                    <li>
                        <div class="d-flex justify-content-center gap-1">
                            <span class="text-secondary">{{imovel.num_banheiro_imovel}}</span>
                            <i class="fa-solid fa-toilet"></i>
                        </div>
                        <span class="text-secondary">Banheiros</span>
                    </li>
                    {% else %}
                    <li>
                        <div class="d-flex justify-content-center gap-1">
                            <span class="text-secondary">{{imovel.num_banheiro_imovel}}</span>
                            <i class="fa-solid fa-toilet"></i>
                        </div>
                        <span class="text-secondary">Banheiro</span>
                    </li>
                    {% endif %}
                    {% if imovel.num_garagem_imovel|default:0|add:0 > 1 %}
                    <li>
                        <div class="d-flex justify-content-center gap-1">
                            <span class="text-secondary">{{imovel.num_garagem_imovel}}</span>
                            <i class="fa-solid fa-car"></i>
                        </div>
                        <span class="text-secondary">Vagas</span>
                    </li>
                    {% else %}
                    <li>
                        <div class="d-flex justify-content-center gap-1">
                            <span class="text-secondary">{{imovel.num_garagem_imovel}}</span>
                            <i class="fa-solid fa-car"></i>
                        </div>
                        <span class="text-secondary">Vaga</span>
                    </li>
                    {% endif %}
                    <li>
                        <div class="d-flex justify-content-center gap-1">
                            <span class="text-secondary">{{imovel.area_total_imovel}}m²</span>
                        </div>
                        <span class="text-secondary">Área total</span>
                    </li>

                </ul>

            </div>
        </section>
    </article>
    {% endfor %}
    <div class="pagination">
        <span class="step-links">
            {% if imoveis_com_foto.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ imoveis_com_foto.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ imoveis_com_foto.number }} of {{ imoveis_com_foto.paginator.num_pages }}.
            </span>
    
            {% if imoveis_com_foto.has_next %}
                <a href="?page={{ imoveis_com_foto.next_page_number }}">next</a>
                <a href="?page={{ imoveis_com_foto.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
    
</section>