<!-- TODO 1 >> inserir um if para verificar se há imóveis; caso contrário exibir notificação -->
<!-- TODO 2 >> usar um for para exibir os imóveis cadastrados -->
<!-- TODO 3 >> exibir as informações do imóvel em cada item -->
{% if request.GET.msg == "edit_cad" %}
<script>
    
    show_disappear("msg", "Imovel editado com sucesso!", 5000);

</script>
    <div class="alert alert-success text-center" id="msg">
 <p>Imovel editado com sucesso!</p>
    </div>
    {% endif %}
    {% if request.GET.msg == "cad_imovel" %}
<script>
    
    show_disappear("msg", "Imovel cadastrado com sucesso!", 5000);

</script>
    <div class="alert alert-success text-center" id="msg">
 <p>Imovel cadastrado com sucesso!</p>
    </div>
    {% endif %}
    {% if request.GET.msg == "delete_cad" %}
<script>
    
    show_disappear("msg", "Imovel deletado com sucesso!", 5000);

</script>
    <div class="alert alert-success text-center" id="msg">
 <p>Imovel deletado com sucesso!</p>
    </div>
    {% endif %}

<!-- Seção da listagem dos imóveis -->
<section class="d-flex flex-column">
 

    <!-- * ITEM Imóvel em lista de busca (<article>)-->
    <!-- Informações a serem exibidas:
        - bairro
        - foto (uma só por ora)
        - corretor (que captou)
        - localização (endereço + logradouro)
        - preço
        - condomínio (se houver; caso contrário nem mostre o campo)
        - num de quartos, banheiros, etc
        - área total
        - tempo desde a última atualização (é aquele número em baixo da imagem)
    -->
    {% comment %} <h6>
        conta -> 
        {{imoveis_html.user.username}}


    </h6> {% endcomment %}

    {% for imovel, foto in imoveis_com_foto %}

    <!-- <h1>U -> Update</h1>
    <h1>D -> delete</h1> -->
<br>
    <article class="border border-black border-2 p-3">
       
        <section class="container-fluid p-2">
            <div class="row"> 
                        <img class="col-5" src="{{ foto.url_foto_imovel.url }}" alt="Galeria das fotos (carrossel)">
                <!-- Descrição -->
                <section class="col-7 flex-grow-1 px-3 py-1">
                    <header class="d-flex justify-content-between">
                        <span class="h3">{{imovel.fk_endereco.bairro_endereco}}</span>
                        {% if user.corretor.id ==  imovel.fk_corretor.id or user.admin%}
                        <button class="btn">
                        <a style="margin-right:20px;" href="/pesquisa/imovel/{{imovel.id}}"> <i class="fas fa-eye fa-2x text-secondary"></i></a>
                        <a style="margin-right:20px;" href="/edicao/{{imovel.id}}"> <i class="fas fa-pencil-alt fa-2x text-secondary"></i></a>
                        <a href="/deletar/{{imovel.id}}">  <i class="fas fa-trash-alt fa-2x text-secondary" ></i></a>  <!-- vou ver oq faço com isso aqui depois -->
                        </button>
                        {% endif %}
                    </header>
                    <div>
                        <p>Proprietário: {{imovel.fk_proprietario.nome_cliente}}</p> 
                        <p>Endereço: {{imovel.fk_endereco.cidade_endereco}} - {{imovel.fk_endereco.bairro_endereco}} | {{imovel.fk_endereco.cep_endereco}}</p>
                        <p>Preço: <span class="imovel-preco" data-preco="{{imovel.preco_imovel}}"></span></p>
                        <p>Corretor: {{imovel.fk_corretor.nome_corretor}}</p>
                    </div>
                </section>

            </div>
        </section>
        <section class="container-fluid">
            <div class="row">

                <div class="col-5 d-flex justify-content-center align-items-center">
        
                </div>

                <ul class="list-unstyled d-inline-flex col-7 gap-3">
                    {% if imovel.num_quarto_imovel|default:0|add:0 > 1 %}
                    <li>
                        <div class="d-flex justify-content-center gap-1">
                            <span class="text-secondary">{{imovel.num_quarto_imovel}}</span>
                            <i class="fa-solid fa-door-closed"></i>
                        </div>
                        <span class="text-secondary">Quartos</span>
                    </li>
                    {% else %}
                    <li>
                        <div class="d-flex justify-content-center gap-1">
                            <span class="text-secondary">{{imovel.num_quarto_imovel}}</span>
                            <i class="fa-solid fa-door-closed"></i>
                        </div>
                        <span class="text-secondary">Quarto</span>
                    </li>
                    {% endif %}

                    {% if imovel.num_suite_imovel|default:0|add:0 > 1 %}
                    <li>
                        <div class="d-flex justify-content-center gap-1">
                            <span class="text-secondary">{{imovel.num_suite_imovel}}</span>
                            <i class="fa-solid fa-bed"></i>
                        </div>
                        <span class="text-secondary">Suítes</span>
                    </li>
                    {% else %}
                    <li>
                        <div class="d-flex justify-content-center gap-1">
                            <span class="text-secondary">{{imovel.num_suite_imovel}}</span>
                            <i class="fa-solid fa-bed"></i>
                        </div>
                        <span class="text-secondary">Suíte</span>
                    </li>
                    {% endif %}
                    {% if imovel.num_banheiro_imovel|default:0|add:0 > 1 %}
                    <li>
                        <div class="d-flex justify-content-center gap-1">
                            <span class="text-secondary">{{imovel.num_banheiro_imovel}}</span>
                            <i class="fa-solid fa-toilet"></i>
                        </div>
                        <span class="text-secondary">Banheiros</span>
                    </li>
                    {% else %}
                    <li>
                        <div class="d-flex justify-content-center gap-1">
                            <span class="text-secondary">{{imovel.num_banheiro_imovel}}</span>
                            <i class="fa-solid fa-toilet"></i>
                        </div>
                        <span class="text-secondary">Banheiro</span>
                    </li>
                    {% endif %}
                    {% if imovel.num_garagem_imovel|default:0|add:0 > 1 %}
                    <li>
                        <div class="d-flex justify-content-center gap-1">
                            <span class="text-secondary">{{imovel.num_garagem_imovel}}</span>
                            <i class="fa-solid fa-car"></i>
                        </div>
                        <span class="text-secondary">Vagas</span>
                    </li>
                    {% else %}
                    <li>
                        <div class="d-flex justify-content-center gap-1">
                            <span class="text-secondary">{{imovel.num_garagem_imovel}}</span>
                            <i class="fa-solid fa-car"></i>
                        </div>
                        <span class="text-secondary">Vaga</span>
                    </li>
                    {% endif %}
                    <li>
                        <div class="d-flex justify-content-center gap-1">
                            <span class="text-secondary">{{imovel.area_total_imovel}}m²</span>
                        </div>
                        <span class="text-secondary">Área total</span>
                    </li>

                </ul>

            </div>
        </section>
    </article>
    {% endfor %}
    <br>
    {% if imoveis_com_foto|length > 1 %}
    <div class="pagination d-flex justify-content-center">
        <ul class="pagination justify-content-center">
    
            {% if imoveis_com_foto.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1">&laquo; first</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ imoveis_com_foto.previous_page_number }}">previous</a>
            </li>
            {% endif %}
    
            <li class="page-item disabled">
                <span class="page-link">
                    Page {{ imoveis_com_foto.number }} of {{ imoveis_com_foto.paginator.num_pages }}.
                </span>
            </li>
    
            {% if imoveis_com_foto.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ imoveis_com_foto.next_page_number }}">next</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ imoveis_com_foto.paginator.num_pages }}">last &raquo;</a>
            </li>
            {% endif %}
    
        </ul>
    </div>
    {% endif %}
    
</section>