<section class="container-md">
    <header class="container-fluid">
        <span>Número de leads</span>
        <span>17</span>
    </header>
    <div class="container-fluid">
        <article class="d-flex border border-black col-4 p-3 gap-3">
            <img class="rounded-circle" src="https://picsum.photos/100" alt="Foto cliente">
            <div class="flex-grow-1">
                <p class="h5 mb-1">Nome do cliente</p>
                <p class="text-black-50">Comprador</p>

                <div>
                    <button class="btn btn-outline-danger">&lt;&lt;</button>
                    <!-- <div></div>
                    <div></div>
                    <div></div>
                    <div></div> -->
                    <button class="btn btn-outline-success">&gt;&gt;</button>
                </div>
            </div>
        </article>
    </div>
</section>