<!-- TODO 1 >> inserir condomínios disponíveis no select de condomínio (necessário inpecionar o banco e mostrá-los como opções) -->
{% load static %}

<section class="d-flex justify-content-center">
    <div class="form-cadastro col-6 flex-column">
        <ul class="nav nav-tabs nav-justified">
            <li class="nav-item"><button data-bs-toggle="basico" data-bs-target="#basico" class="nav-link active">Básico</button></li>
            <li class="nav-item"><button data-bs-toggle="complemento" data-bs-target="#complemento" class="nav-link">Complementar</button></li>
            <li class="nav-item"><button data-bs-toggle="infraestrutura" data-bs-target="#infraestrutura" class="nav-link">Infraestrutura</button></li>
            <li class="nav-item"><button data-bs-toggle="galeria" data-bs-target="#galeria" class="nav-link">Galeria</button></li>
        </ul>

        <form class="p-3 border border-top-0" method="post" enctype="multipart/form-data">
            <h2>Informações básicas</h2>
            <p>Dados primordiais para o cadastro do seu imóvel</p>
            {% csrf_token %}
            <label for="tipo_imovel">Tipo do imóvel</label>
            <select name="tipo_imovel" id="tipo_imovel">
                {% for tipo in tipos %}
                <optgroup label="{{tipo.nome_tipo_imovel}}">
                    {% for subtipo in subtipos %}
                    {% if subtipo.fk_tipo_imovel.id == tipo.id %}
                    <option value="{{subtipo.id}}">{{subtipo.nome_subtipo_imovel}}</option>
                    {% endif %}
                    {% endfor %}
                </optgroup>
                {% endfor %}

            </select>
            <label for="clientes">Proprietário</label>
            <select name="fk_proprietario" id="clientes">
                {% for cliente in clientes %}
                <option value="{{cliente.id }}">{{cliente.nome_cliente}}</option>
                {% endfor %}

            </select>
            <label for="clientes">Corretor</label>
            <select name="fk_corretor" id="clientes">
                {% for corretor in corretores %}
                <option value="{{corretor.id }}">{{corretor.nome_corretor}}</option>
                {% endfor %}

            </select>

            <label for="uf">UF</label>
            <select required name="uf" id="uf">
                <option value="AC">Acre</option>
                <option value="AL">Alagoas</option>
                <option value="AP">Amapá</option>
                <option value="AM">Amazonas</option>
                <option value="BA">Bahia</option>
                <option value="CE">Ceará</option>
                <option value="DF">Distrito Federal</option>
                <option value="ES">Espírito Santo</option>
                <option value="GO">Goiás</option>
                <option value="MA">Maranhão</option>
                <option value="MT">Mato Grosso</option>
                <option value="MS">Mato Grosso do Sul</option>
                <option value="MG">Minas Gerais</option>
                <option value="PA">Pará</option>
                <option value="PB">Paraíba</option>
                <option value="PR">Paraná</option>
                <option value="PE">Pernambuco</option>
                <option value="PI">Piauí</option>
                <option value="RJ">Rio de Janeiro</option>
                <option value="RN">Rio Grande do Norte</option>
                <option value="RS">Rio Grande do Sul</option>
                <option value="RO">Rondônia</option>
                <option value="RR">Roraima</option>
                <option value="SC">Santa Catarina</option>
                <option value="SP">São Paulo</option>
                <option value="SE">Sergipe</option>
                <option value="TO">Tocantins</option>
            </select>
            <div id="alert-doc">
                <p id="alert-cep"></p>
            </div>
            <label for="cep">CEP</label>
            <input required type="text" name="cep" id="cep">

            <label for="logradouro">Logradouro</label>
            <input required type="text" name="logradouro" id="logradouro">

            <label for="numero">Número</label>
            <input required type="number" name="numero" id="numero">

            <label for="bairro">Bairro</label>
            <input required type="text" name="bairro" id="bairro">

            <label for="cidade">Cidade</label>
            <input required type="text" name="cidade" id="cidade">

            <label for="complemento">Complemento</label>
            <input required type="text" name="complemento" id="complemento">



            <h2>Informações complementares</h2>
            <p>Dados opcionais que ajudam na busca e escolha do seu imóvel</p>

            <h3>Número de:</h3>

            <label for="n_quarto">Quartos</label>
            <input type="number" name="n_quarto" id="n_quarto">

            <label for="n_suite">Suítes</label>
            <input type="number" name="n_suite" id="n_suite">

            <label for="n_banheiro">Banheiros</label>
            <input type="number" name="n_banheiro" id="n_banheiro">

            <label for="n_garagem">Vagas de garagem</label>
            <input type="number" name="n_garagem" id="n_garagem">

            <hr>

            <label for="area_total">Área total (m²)</label>
            <input type="number" name="area_total" id="area_total">

            <label for="preco_imovel">Preço R$</label>
            <input value="R$ 0,00" type="text" name="preco_imovel" id="preco_imovel"
                oninput="">

            <label for="iptu">IPTU</label>
            <input type="number" name="iptu" id="iptu">

            <label for="condominio">Condomínio</label>
            <select name="condominio" id="condominio">

            </select>

            <button type="submit" class="btn btn-primary">Cadastrar novo condomínio</button>

            <label for="preco_condominio">Preço do condomínio</label>
            <input type="number" name="preco_condominio" id="preco_condominio">


            <h2>Infraestrutura</h2>
            {% for infra in infra_imoveis %}
            <input value="{{infra.id}}" type="checkbox" name="infras[]">
            
            <label>{{infra.nome_infraestrutura_imovel}}</label>
            {% endfor %}


            <input type="file" name="fotos[]" id="fotos" multiple accept="image/*">
            <button class="btn btn-success" type="submit">Cadastrar</button>

        </form>
    </div>

</section>

<script>

    $(document).ready(function () {

        // CEP
        $('#cep').mask('00000-000'); // Exemplo de máscara de CEP

        $('#cep').on('change', function () {
            // Obter o valor limpo (sem a máscara) do campo CEP
            var cep = $('#cep').cleanVal();

            if (cep.length === 8) {
                // var cep = $(this).val();
                $.ajax({
                    url: `https://viacep.com.br/ws/${cep}/json`,
                    method: 'GET',
                    success: function (data) {
                        if (!("erro" in data)) {
                            $('#logradouro').val(data.logradouro);
                            $('#bairro').val(data.bairro);
                            $('#cidade').val(data.localidade);
                            $('#uf').val(data.uf);
                        } else {
                            show_disappear("alert-doc", "CEP não encontrado", 5000);
                        }
                    },
                    error: function () {
                        show_disappear("alert-doc", "Erro ao buscar CEP", 5000);
                    }
                });
            } else {
                show_disappear("alert-doc", "CEP inválido", 5000);
            }
        });
    });
</script>

<script src="{% static 'js/mask.js' %}"></script>