<!-- TODO 1 >> inserir condomínios disponíveis no select de condomínio (necessário inpecionar o banco e mostrá-los como opções) -->
{% load static %}

<section class="d-flex justify-content-center">
    <div class="form-cadastro col-6 flex-column block-form-imovel ">
        <ul class="nav nav-tabs nav-justified" id="myTab">
            <li class="nav-item"><button data-bs-toggle="tab" data-bs-target="#basico"
                    class="nav-link active">Básico</button></li>
            <li class="nav-item"><button data-bs-toggle="tab" data-bs-target="#complemento"
                    class="nav-link">Complementar</button></li>
            <li class="nav-item"><button data-bs-toggle="tab" data-bs-target="#infraestrutura"
                    class="nav-link">Infraestrutura</button></li>
            <li class="nav-item"><button data-bs-toggle="tab" data-bs-target="#galeria"
                    class="nav-link">Galeria</button></li>
        </ul>

        <form class="p-3 border border-top-0 tab-content d-flex flex-column form-imovel shadow" method="post" enctype="multipart/form-data"
            id="myTabContent">
            {% csrf_token %}
            <div id="basico" class="tab-pane fade show active">
                <h2>Informações básicas</h2>
                <p>Dados primordiais para o cadastro do seu imóvel</p>

                <div class="mx-5">
                    <div class="d-flex align-items-center mb-4">
                        <label class="col-3 form-label px-2 m-0" for="tipo_imovel">Tipo do imóvel</label>
                        <span class="col-5">
                            <select class="form-select" name="tipo_imovel" id="tipo_imovel">
                                {% for tipo in tipos %}
                                <optgroup label="{{tipo.nome_tipo_imovel}}">
                                    {% for subtipo in subtipos %}
                                    {% if subtipo.fk_tipo_imovel.id == tipo.id %}
                                    <option value="{{subtipo.id}}">
                                        {{subtipo.nome_subtipo_imovel}}
                                    </option>
                                    {% endif %}
                                    {% endfor %}
                                </optgroup>
                                {% endfor %}
                            </select>
                        </span>
                    </div>

                    <div class="d-flex align-items-center mb-2">
                        <label class="col-3 form-label px-2 m-0" for="clientes">Proprietário</label>
                        <span class="col-9">
                            <select class="form-select" name="fk_proprietario" id="clientes">
                                {% for cliente in clientes %}
                                <option value="{{cliente.id }}">{{cliente.nome_cliente}}
                                </option>
                                {% endfor %}
                            </select>
                        </span>
                    </div>

                    <div class="d-flex align-items-center mb-4">
                        <label class="col-3 form-label px-2 m-0" for="corretor">Corretor</label>
                        <span class="col-9">
                            <select class="form-select" name="fk_corretor" id="clientes">
                                {% for corretor in corretores %}
                                <option value="{{corretor.id }}">{{corretor.nome_corretor}}
                                </option>
                                {% endfor %}
                            </select>
                        </span>
                    </div>

                    <div class="d-flex align-items-center mb-2">
                        <!-- <div id="alert-doc">
                            <p id="alert-cep"></p>
                        </div> -->
                        <label class="col-3 form-label px-2 m-0" style="vertical-align: middle;" for="cep">CEP</label>
                        <span class="col-5">
                            <input class="form-control" required type="text" name="cep" id="cep">
                        </span>
                    </div>

                    <div class="d-flex align-items-center mb-2">
                        <label class="col-3 form-label px-2 m-0" for="uf">UF</label>
                        <span class="col-5">
                            <select class="form-select" required name="uf" id="uf">
                                <option value="AC">Acre</option>
                                <option value="AL">Alagoas</option>
                                <option value="AP">Amapá</option>
                                <option value="AM">Amazonas</option>
                                <option value="BA">Bahia</option>
                                <option value="CE">Ceará</option>
                                <option value="DF">Distrito Federal</option>
                                <option value="ES">Espírito Santo</option>
                                <option value="GO">Goiás</option>
                                <option value="MA">Maranhão</option>
                                <option value="MT">Mato Grosso</option>
                                <option value="MS">Mato Grosso do Sul</option>
                                <option value="MG">Minas Gerais</option>
                                <option value="PA">Pará</option>
                                <option value="PB">Paraíba</option>
                                <option value="PR">Paraná</option>
                                <option value="PE">Pernambuco</option>
                                <option value="PI">Piauí</option>
                                <option value="RJ">Rio de Janeiro</option>
                                <option value="RN">Rio Grande do Norte</option>
                                <option value="RS">Rio Grande do Sul</option>
                                <option value="RO">Rondônia</option>
                                <option value="RR">Roraima</option>
                                <option value="SC">Santa Catarina</option>
                                <option value="SP">São Paulo</option>
                                <option value="SE">Sergipe</option>
                                <option value="TO">Tocantins</option>
                            </select>
                        </span>
                    </div>

                    <div class="d-flex align-items-center mb-2">
                        <label class="col-3 form-label px-2 m-0" for="logradouro">Logradouro</label>
                        <span class="col-9">
                            <input class="col-9 form-control" required type="text" name="logradouro" id="logradouro">
                        </span>
                    </div>

                    <div class="d-flex align-items-center mb-2">
                        <label class="col-3 form-label px-2 m-0" for="bairro">Bairro</label>
                        <span class="col-4">
                            <input class="col-4 form-control" required type="text" name="bairro" id="bairro">
                        </span>

                        <label class="col-3 form-label px-2 m-0" for="numero">Número</label>
                        <span class="col-2">
                            <input class="col-2 form-control" required type="number" name="numero" id="numero">
                        </span>
                    </div>

                    <div class="d-flex align-items-center mb-2">
                        <label class="col-3 form-label px-2 m-0" for="cidade">Cidade</label>
                        <span class="col-4">
                            <input class="col-4 form-control" required type="text" name="cidade" id="cidade">
                        </span>

                        <label class="col-3 form-label px-2 m-0" for="complemento">Complemento</label>
                        <span class="col-2">
                            <input class="form-control" required type="text" name="complemento">
                        </span>
                    </div>

                </div>
            </div>



            <div id="complemento" class="tab-pane fade">
                <h2>Informações complementares</h2>
                <p>Dados opcionais que ajudam na busca e escolha do seu imóvel</p>

                <div class="mx-5">
                    <div class="d-flex align-items-center mb-2">
                        <label class="col-3 form-label px-2 m-0" for="n_quarto">Quartos</label>
                        <span class="col-3">
                            <input class="form-control" type="number" name="n_quarto" id="n_quarto">
                        </span>

                        <label class="col-3 form-label px-2 m-0" for="n_suite">Suítes</label>
                        <span class="col-3">
                            <input class="form-control" type="number" name="n_suite" id="n_suite">
                        </span>
                    </div>

                    <div class="d-flex align-items-center mb-4">

                        <label class="col-3 form-label px-2 m-0" for="n_banheiro">Banheiros</label>
                        <span class="col-3">
                            <input class="form-control" type="number" name="n_banheiro" id="n_banheiro">
                        </span>

                        <label class="col-3 form-label px-2 m-0" for="n_garagem">Vagas de garagem</label>
                        <span class="col-3">
                            <input class="form-control" type="number" name="n_garagem" id="n_garagem">
                        </span>
                    </div>

                    <div class="d-flex align-items-center mb-4">
                        <label class="col-3 form-label px-2 m-0" for="area_total">Área total (m²)</label>
                        <span class="col-3">
                            <input class="form-control" type="number" name="area_total" id="area_total">
                        </span>

                        <label class="col-3 form-label px-2 m-0" for="area_privativa">Área privativa (m²)</label>
                        <span class="col-3">
                            <input class="form-control" type="number" name="area_privativa" id="area_privativa">
                        </span>
                    </div>

                    <div class="d-flex align-items-center mb-2">
                        <label class="col-3 form-label px-2 m-0" for="preco_imovel">Preço R$</label>
                        <span class="col-6">
                            <input class="form-control" value="R$ 0,00" type="text" name="preco_imovel"
                                id="preco_imovel" oninput="thisol-auto">
    <label for="staticEmail2" class="visually-hidden">Email</label>
    <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="email@example.com">
  </div>
  <div class="col-auto">
    <label for="inputPassword2" class="visually-hidden">Password</label>
    <input type="password" class="form-control" id="inputPassword2" placeholder="Password">
  </div>
  <div class="col-auto">
    <button type="submit" class="btn b.value = mask(this.value, 'money')">
                        </span>
                    </div>

                    <div class="d-flex align-items-center mb-2">
                        <label class="col-3 form-label px-2 m-0" for="iptu">IPTU</label>
                        <span class="col-6">
                            <input class="form-control" type="number" name="iptu" id="iptu">
                        </span>
                    </div>

                    <!-- <label class="col-3 form-label px-2 m-0" for="condominio">Condomínio</label>
                <select name="condominio" id="condominio">

                </select> -->

                    <!-- <button type="submit" class="btn btn-primary">Cadastrar novo condomínio</button>

                <label class="col-3 form-label px-2 m-0" for="preco_condominio">Preço do condomínio</label>
                <input type="number" name="preco_condominio" id="preco_condominio"> -->
                </div>
            </div>


            <div id="infraestrutura" class="tab-pane fade">
                <h2>Infraestrutura</h2>
                <p>Características específicas do imóvel em si</p>

                <div class="mx-5 d-flex flex-wrap">
                    {% for infra in infra_imoveis %}
                    <span class="col-6">
                        <input class="form-check-input" value="{{infra.id}}" type="checkbox" name="infras[]">
                        <label class="form-check-label">{{infra.nome_infraestrutura_imovel}}</label>
                    </span>
                    {% endfor %}
                </div>
            </div>

            <div id="galeria" class="tab-pane fade">
                <h2>Galeria</h2>
                <p>Insira aqui suas fotos (você pode selecionar múltiplas)</p>
                <input class="form-control" type="file" name="fotos[]" id="fotos" multiple accept="image/*">
            </div>

            <button class="btn btn-success align-self-end mt-3" type="submit">Cadastrar</button>
        </form>
    </div>

</section>

<script>

    $(document).ready(function () {

        // CEP
        $('#cep').mask('00000-000'); // Exemplo de máscara de CEP

        $('#cep').on('change', function () {
            // Obter o valor limpo (sem a máscara) do campo CEP
            var cep = $('#cep').cleanVal();

            if (cep.length === 8) {
                // var cep = $(this).val();
                $.ajax({
                    url: `https://viacep.com.br/ws/${cep}/json`,
                    method: 'GET',
                    success: function (data) {
                        if (!("erro" in data)) {
                            $('#logradouro').val(data.logradouro);
                            $('#bairro').val(data.bairro);
                            $('#cidade').val(data.localidade);
                            $('#uf').val(data.uf);
                        } else {
                            show_disappear("alert-doc", "CEP não encontrado", 5000);
                        }
                    },
                    error: function () {
                        show_disappear("alert-doc", "Erro ao buscar CEP", 5000);
                    }
                });
            } else {
                show_disappear("alert-doc", "CEP inválido", 5000);
            }
        });
    });
</script>

<script src="{% static 'js/mask.js' %}"></script>