<aside>

</aside>

<section class="container d-flex flex-column section-resultados">

    <article class="d-flex imovel-card col-6">
        <section class="imovel-card__img col">
            <img src="https://picsum.photos/200/200" alt="img imovel">
        </section>

        <section class="imovel-card__info col p-3">
            <h2 class="mb-0 text-secondary">Apartamento Giardino</h2>
            <p class="preco">R$ 1.000.000,00</p>
            
            <div class="bloco-info border">
                <span>Área privativa</span>
                <span>120m²</span>
            </div>
            
            <div class="bloco-info border">
                <i class="fa-solid fa-door-closed"></i>
                <span>2</span>
            </div>
            <div class="bloco-info border">
                <i class="fa-solid fa-toilet"></i>
                <span>2</span>
            </div>
            <div class="bloco-info border">
                <i class="fa-solid fa-bed"></i>
                <span>1</span>
            </div>
            <div class="bloco-info border">
                <i class="fa-solid fa-car"></i>
                <span>1</span>
            </div>

            <a href="#">VER MAIS</a>
        </section>
    </article>

</section>