{% extends "bases/base_admin.html" %} {% block head %}

<style>
    body {
        /* background: linear-gradient(135deg, #003366 0%, #408080 50%, #778899 100%); */
        /* background: linear-gradient(135deg, #228B22 0%, #9DC183 50%, #F5F5DC 100%); */
        /* background: linear-gradient(135deg, #6A5ACD 0%, #C8A2C8 50%, #C0C0C0 100%); */
        /* background: linear-gradient( 90deg, #364559 0%, #5687A6 25%, #BDBFBF 50%, #2F5932 75%, #224026 100%); */
        background: linear-gradient( 90deg, #F7F0D1 0%, #EBE0BB 25%, #B3DEE4 50%, #559CB8 75%, #003366 100%);
    }
</style>

{% endblock head %} {% block main %}

<h1>Dashboard</h1>

{% include "components/dashboard_section_cliente.html" %} {% include "components/dashboard_section_imovel.html" %} {% endblock main %}